KPCMTest/KPCMTest/Service References/WebService2/WS2_Implementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WS2_Implementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52663/WebService2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52663/WebService2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52663/WebService2.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService2_getLab2Results_InputMessage">
    <wsdl:part name="parameters" element="tns:getLab2Results" />
  </wsdl:message>
  <wsdl:message name="IWebService2_getLab2Results_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLab2ResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService2_getPrivacyPolicyArray_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrivacyPolicyArray" />
  </wsdl:message>
  <wsdl:message name="IWebService2_getPrivacyPolicyArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrivacyPolicyArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService2">
    <wsdl:operation name="getLab2Results">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService2/getLab2Results" message="tns:IWebService2_getLab2Results_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService2/getLab2ResultsResponse" message="tns:IWebService2_getLab2Results_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrivacyPolicyArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService2/getPrivacyPolicyArray" message="tns:IWebService2_getPrivacyPolicyArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService2/getPrivacyPolicyArrayResponse" message="tns:IWebService2_getPrivacyPolicyArray_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebService2" type="tns:IWebService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLab2Results">
      <soap:operation soapAction="http://tempuri.org/IWebService2/getLab2Results" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrivacyPolicyArray">
      <soap:operation soapAction="http://tempuri.org/IWebService2/getPrivacyPolicyArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS2_Implementation">
    <wsdl:port name="BasicHttpBinding_IWebService2" binding="tns:BasicHttpBinding_IWebService2">
      <soap:address location="http://localhost:52663/WebService2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>